/**
 * Layout file
 */

.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: scroll;

  .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    z-index: 6;
  }
}

.header-container {
  margin: 1rem 1rem 0;
}

.main {
  position: absolute;
  top: 8.5rem;
  bottom: 1rem;
}

.main-container {

  min-height: 100%;
  padding-bottom: 2rem;

  & > div {

    section {
      padding: 0 1rem;
      overflow: hidden;

      h2 {
        font-weight: normal;
        font-size: 1.5em;
        margin: 1rem 0;
        position: relative;
      }
    }
  }

  .search-result-texts {

    padding: 0 1rem;

    .results {

      article {
        font-size: .8rem;
        margin: 1.3rem 0;

        &:first-child {
          margin-top: 0;
        }

        span {
          display: block;
          clear: both;
          margin: .2rem 0;
          line-height: 1rem;
        }

        .title {
          font-size: .9rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .link {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .text {
          font-size: .8rem;
        }
      }
    }
  }

  .pager {

    ul {
      display: block;
      list-style: none;
      list-style-type: none;
      padding: .2rem;
      text-align: center;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 0 .5rem;
        }
      }
    }
  }

  .search-result-images {

    .results {
      padding: 0;
      margin: 0 0 1rem 0;
      display: flex;

      flex-flow: row wrap;
      justify-content: space-between;

      & > div {
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        width: 30%;
        height: 5rem;
        margin: .5rem 0;
        padding: 0;
      }

      article {
        position: relative;
        width: auto;
        height: 100%;

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 0;
          background-repeat: no-repeat;
          background-position: center center;
          // background-size: cover;
          border: .1rem solid #75a6db;
        }
      }
    }
  }
}

.footer-container {}
