/*
 * Generic Media Queries
 */


/* #### All Non-Desktop devices or very old screens #### */
@media screen and (max-device-width: 767px), screen and (max-width: 767px) {

  .boxes .box {
    display: block;

    &:first-child {
      margin-top: .8rem;
    }
  }

  .w100, .w90, .w80, .w70, .w60, .w50, .w40, .w30, .w20, .w10 {
    width: 100%;
  }

  .main {
    top: 12rem;
  }

  .main-container > div section {
    max-height: 1000px;
    transition: .2s linear all;

    h2 {
      transition: .2s linear all;
      cursor: pointer;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        content: '-';
        font-size: 2rem;
        line-height: 1.5rem;
        margin: 0;
      }
    }

    &.closed {

      max-height: 45px;

      h2 {
        margin: .4rem 0;
      }

      h2:after {
        content: '+';
      }
    }
  }
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){

  .app .wrapper {
    padding: 0;
  }

  .main {
    top: 10rem;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){

  .app .wrapper {
    padding: 0;
  }

  .main {
    top: 10rem;
  }
}

/* #### Desktops #### */
@media screen and (min-width: 768px){

  html {
    font-size: 20px;
  }

  .input-groups {

    .input {

      &:last-child {
        margin-left: 2%;
        width: 18%;
      }
    }
  }

  .main-container {

    .search-result-texts {

      padding: 0 1rem 2rem;

      .pager {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){

  html {
    font-size: 22px;
  }

  .app .wrapper {
    margin: 0 auto;
    width: 1024px;
  }
}
