/*
 * Generic Media Queries
 */


/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 768px), screen and (max-width: 768px) {

  .boxes .box {
    display: inline-block;
  }

  .w100, .w90, .w80, .w70, .w60, .w50, .w40, .w30, .w20, .w10 {
    width: 100%;
  }

  .main {
    top: 12rem;
  }
}

/* #### Desktops #### */
@media screen and (min-width: 768px){

  html {
    font-size: 20px;
  }

  .input-groups {

    .input {

      &:last-child {
        margin-left: 2%;
        width: 18%;
      }
    }
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){

  html {
    font-size: 22px;
  }

  .app .wrapper {
    margin: 0 auto;
    width: 1024px;
  }
}
