/**
 * Skin file
 */

a {
  &:link {
    color: #287fdb;
  }
  &:visited {
    color: #75a6db;
  }
  &:hover {
    color: #287fdb;
  }
}

.app {
  background: #dbe4f4; /* Old browsers */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dbe4f4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */

  .wrapper {

  }
}

.header-container {

}


.main-container {

  .pager {

    ul {

      li {

        a {
          &:link, &:visited {
            color: #7f7f7f;
            text-decoration: none;
          }

          &:hover, &.active {
            color: #333;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer-container {

}

.input {
  background-color: #ffffff;
  border-color: #e8e7e7;
  color: #7f7f7f;
  transition: .1s linear all;

  input {
    color: #7f7f7f;
    background-color: transparent;

    &[type="submit"], &[type="button"], &.btn {
      background-color: #c0c0c0;
      color: #ffffff;

      transition: .1s linear all;

      &:hover {
        background-color: #dddddd;
        color: #555;
      }

      &:active {
        background-color: #ffffff;
        color: #555;
        border-color: #dddddd;
      }
    }
  }

  &.error {
    background-color: #fff;
    border-color: rgba(204, 51, 0, .5);
  }
}

.boxes {

  .box {
    background-color: #ffffff;
    border-color: #e8e7e7;
  }
}

h2 {
  color: #7f7f7f;
}

.error {
  background-color: rgba(204, 51, 0, .3);
}

.loader {
  // background-color: rgba(211, 84, 0, 0.3);
  // background-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(26, 188, 156, 0.90);

  &.transparent {
    background-color: rgba(26, 188, 156, 0.5);
  }
}

.nested-loader {
  background-color: rgba(147, 161, 185, 0.9);
  color: #fff;
}
